<!-- Landing Page for non-users of Nvestr -->

<% content_for :sidebar do %>

<% end %>

<!-- Introduce the User to Nvestr -->
<% content_for :header do %>
<div class ="center">

	<div class="center nvestr-header">
		<div class="nvestr-header-text">
			<h1>Nvestr</h1>

			A simple, social investing simulator. 
		</div>
		
	</div>
	

</div>
<div class="col-sm-12 nvestr-landing-story orbitron">

	<div class="half-relative">
		<h2>One portfolio.</h2>
		<h2 class="bottom-right">One story.</h2>
	</div>
	
</div>

<% end %>


<!-- Allow the User to "Register/Get Started" -->

<div id="registrationDiv" >
	<!-- Gonna need a User model. A register_user route.  -->
	<!-- Gonna need required user attributes: user_name|Email|Password -->
	<%= form_for User.new, url: register_user_path, remote: true do |f| %> 
	<div class="reg-container center">
		<div class="registration-form">
					<% @required_user_attributes.zip(@header_user_attributes).each do |attribute, header| %>
	               
	                  	<span id="span<%= header %>" class="error-attributes show-error span-error-msg"></span>
	                  	<i id="icon<%= header %>" class="error-attributes pull-right glyphicon glyphicon-remove-circle" style="display:none;"></i>
	                    <%= f.text_field attribute, placeholder: header.strip,class: "registration-form-input orbitron" %>
	                    <br>
	              <% end %>
	              <br>
			<%= f.submit "Go.", :id => "registrationBtn", class: "btn btn-large btn-default center registration-btn orbitron" %>
		</div>
	</div>
	
		
	<% end %>
</div>

<!-- Allow the User to "Contact Us" -->

<div>

</div>

<!-- Provide toplevel Menu Bar with a Login link -->

