<!-- Landing Page for non-users of Nvestr -->

<% content_for :sidebar do %>
<!-- sidebar content -->
	<%= render :partial => "dangerous/sidebar" %>
<% end %>

<!-- Introduce the User to Nvestr -->

<div class ="center">

	<h1 class="center jumbotron nvestr-header">Nvestr</h1>
	<h2>
		A simple, social investing simulator. 
	</h2>

</div>

<!-- Allow the User to "Register/Get Started" -->

<div id="registrationDiv" >
	<!-- Gonna need a User model. A register_user route.  -->
	<!-- Gonna need required user attributes: user_name|Email|Password -->
	<%= form_for User.new, url: register_user_path, remote: true do |f| %> 
		<div class="row fix-row">
			<div class="col-sm-12 center">
					<table class="table table-striped table-bordered table-responsive registration-table">
					<tbody class ="fix-tbody">
						<% @required_user_attributes.zip(@header_user_attributes).each do |attribute, header| %>
		                <tr>
		                  <td>
		                  	<%= header.strip %>
		                  	<span id="span<%= header %>" class="error-attributes show-error span-error-msg"></span>
		                  	<i id="icon<%= header %>" class="error-attributes pull-right glyphicon glyphicon-remove-circle" style="display:none;"></i>
		                  </td> 
		                  <td>
		                    <%= f.text_field attribute, class: "form-control" %>
		                  </td>
		                </tr>
		              <% end %>
					</tbody>
				</table>
			</div>
				
		</div>
		<div class="row fix-row">
			<div class="col-sm-12 center">
				<%= f.submit "Get Started", :id => "registrationBtn", class: "btn btn-large btn-primary center registration-btn" %>
			</div>
			
		</div>
		
	<% end %>
</div>

<!-- Allow the User to "Contact Us" -->

<div>

</div>

<!-- Provide toplevel Menu Bar with a Login link -->

