<% content_for :sidebar do %>
<!-- sidebar content -->

<% end %>

<div class="exchange">
	<h1>Exchange</h1>
	<h3>Trade stocks here.</h3>

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>

	<%= link_to create_trade_path, :remote => true, class: 'btn btn-primary btn-add-user' do %>
		 <span class="glyphicon"></span>
		 Create Order
	<% end %>
<!--  -->
	

	<table class="table table-bordered table-datatable">
		<thead>
			<tr>
				<% @headers.each do | header | %>
					<td>
						<%= header %>
					</td>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @stocks.each do |stock| %>
				<tr id="<%=	stock[0] %>">
					<td><%=	stock[1] %></td>
					<td><%= stock[2] %></td>
					<td><%= stock[3] %></td>
					<td>
						<%= link_to stocks_path(:stock_symbol => stock[4]) do %>
							<span><%= stock[4] %></span>
						<% end %>
					</td>
					<td><%=	number_to_currency(stock[5]) %></td>
					<td><%= stock[6] %></td>
					<td>
						<div class="center">
							<%= link_to create_trade_path(:stock_id => stock[0]), :remote => true, class: 'btn btn-primary' do %>
								<span>Trade</span>
							<% end %>
						</div>
					</td>
				</tr>
			<% end	%>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	var dataTable = $('.table-datatable').DataTable();

	document.addEventListener("turbolinks:before-cache", function() {
	  if (dataTable !== null) {
	   dataTable.destroy();
	   dataTable = null;
	  }
	});
</script>