  <div id="updatePosition" class="modal-dialog" style="height:300px;">
    <div class="modal-content" style="position:relative;">
      <div class="modal-header">
        <h4 id="modalHeader" class="center">Trade Activity</h4>
      </div>
      <!-- @all_attribs and @header_attribs -->
      <div class="modal-body" style="max-height:100%; overflow:auto;">
        
          <table align="center" class="table table-striped table-bordered table-headers-bold center">
            <thead>
              <tr>
                <td>Transaction</td>
                <td>Amount</td>
                <td>Price</td>
                <td>Date</td>
                <td>Current Price</td>
                <td>Change (%)</td>
              </tr>
            </thead>
            <tbody class="center">
              <% @trades.each do |trade| %>
                <tr>
                  <td><%= trade.type %></td>
                  <td><%= trade.trade_amount %></td>
                  <td><%= number_to_currency(trade.trade_price) %></td>
                  <td><%= trade.trade_datetime %></td>
                  <td><%= number_to_currency(trade.current_price) %></td>
                  <td><%= trade.change %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>