<% content_for :sidebar do %>
<!-- sidebar content -->
	<%= render :partial => "portfolios/sidebar" %>
<% end %>

<div class ="portfolioDiv">

	<h1 class='center'><%= @user.user_name%></h1>
	<h3 class='center'>Manage your portfolio of investments here.</h3>

		<%= link_to portfolio_history_path(:portfolio_id => @portfolio.id), :remote => true, class: 'btn btn-primary btn-add-user' do %>
		 <span class="glyphicon"></span>
		 Portfolio History
	<% end %>

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>

	<table class="table table-bordered table-metrics">
		<thead>
			<tr>
				<th colspan="4"><h2>Key Stats</h2></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Net Worth</td>
				<td class="td-middle-border">$100,000.00</td>
				<td>Buying Power</td>
				<td>$100,000.00</td>
			</tr>
			<tr>
				<td>Overall Gains</td>
				<td class="td-middle-border">$0.00</td>
				<td>Cash</td>
				<td>$100,000.00</td>
			</tr>
			<tr>
				<td>Returns</td>
				<td class="td-middle-border">%0.00</td>
				<td>Borrowed</td>
				<td>$0.00</td>
			</tr>
			<tr>
				<td>Todays Gains/Losses</td>
				<td class="td-middle-border">$0.00</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="6">
					<h2>Holdings</h2>
				</th>
			</tr>
			<tr>
				<% @headers.each do | header | %>
					<td>
						<%= header %>
					</td>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @position_stock.each do |position, stock| %>
				<tr id="<%=	stock.id %>">
					<td><%=	stock.stock_name %></td>
					<td><%=	stock.stock_symbol %></td>
					<td><%=	number_to_currency(stock.stock_price) %></td>
					<td><%= position.position_amount %></td>
					<td><%= number_to_currency(position.value) %></td>
					<td>
						<div class="center">
							<%= link_to position_history_path(:position_id => position.id), :remote => true, class: 'btn btn-primary' do %>
								<span>Trade History</span>
							<% end %>
						</div>
					</td>
				</tr>
			<% end	%>
		</tbody>
	</table>
	<div class="portfolio-history-container">
		<table align="center" class="table table-striped table-bordered table-headers-bold center portfolio-history-table">
		    <thead>
		    	<tr>
					<th colspan="6">
						<h2>Portfolio Trade History</h2>
					</th>
				</tr>
		      <tr>
		        <td>Transaction</td>
		        <td>Amount</td>
		        <td>Price</td>
		        <td>Date</td>
		        <td>Current Price</td>
		        <td>Change (%)</td>
		      </tr>
		    </thead>
		    <tbody class="center">
		      <% @trades.each do |trade| %>
		        <tr>
		          <td><%= trade.type %></td>
		          <td><%= trade.trade_amount %></td>
		          <td><%= number_to_currency(trade.trade_price) %></td>
		          <td><%= trade.trade_datetime %></td>
		          <td><%= number_to_currency(trade.current_price) %></td>
		          <td><%= trade.change %></td>
		        </tr>
		      <% end %>
		    </tbody>
	  </table>
	</div>
	

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>
	<br>

</div>