<% content_for :sidebar do %>
<!-- sidebar content -->
	<%= render :partial => "portfolios/sidebar" %>
<% end %>

<div class ="portfolioDiv">

	<h1 class='center'>Portfolio</h1>
	<h3 class='center'>Manage your portfolio of investments here.</h3>

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>

	<% if @user.id == @current_user.id || @current_user.is_admin then %>
		<%= link_to create_trade_path, :remote => true, class: 'btn btn-primary btn-add-user' do %>
			 <span class="glyphicon"></span>
			 Create Order
		<% end %>
	<% end %>
	<%= link_to portfolio_history_path(:portfolio_id => @portfolio.id), :remote => true, class: 'btn btn-primary btn-add-user' do %>
		 <span class="glyphicon"></span>
		 Portfolio History
	<% end %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<% @headers.each do | header | %>
					<td>
						<%= header %>
					</td>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @position_stock.each do |position, stock| %>
				<tr id="<%=	stock.id %>">
					<td><%=	stock.stock_name %></td>
					<td><%=	stock.stock_symbol %></td>
					<td><%=	number_to_currency(stock.stock_price) %></td>
					<td><%= position.position_amount %></td>
					<td><%= number_to_currency(position.value) %></td>
					<td>
						<div class="center">
							<%= link_to position_history_path(:position_id => position.id), :remote => true, class: 'btn btn-primary' do %>
								<span>Trade History</span>
							<% end %>
						</div>
					</td>
				</tr>
			<% end	%>
		</tbody>
	</table>
	<br>
	<br>

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>
	<br>

</div>