<% content_for :sidebar do %>
<!-- sidebar content -->
	<%= render :partial => "portfolios/sidebar" %>
<% end %>

<div class ="portfolioDiv">

	<h1 class='center'>Portfolio</h1>
	<h3 class='center'>Manage your portfolio of investments here.</h3>

	<table class="table table-line">
		<tbody><tr><td></td></tr></tbody>
	</table>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>Invested Value:</td>
				<td><%=  @portfolio.stock_value %></td>
			</tr>
			<tr>
				<td>Cash Value:</td>
				<td><%= @portfolio.portfolio_cash_account %></td>
			</tr>
			<tr>
				<td class="tval-td-class"><h4> Total Portfolio Value:</h4></td>
				<td id="totalVal" class='tval-td-class'><h4><%= @portfolio.total_value %></h4></td>
			</tr>
		</tbody>
	</table>

	<br>

	<%= link_to create_trade_path, :remote => true, class: 'btn btn-primary btn-add-user' do %>
		 <span class="glyphicon"></span>
		 Add Position
	<% end %>
	<table class="table table-bordered">
		<thead>
			<tr>
				<% @headers.each do | header | %>
					<td>
						<%= header %>
					</td>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @position_stock.each do |position, stock| %>
				<tr id="<%=	stock.id %>">
					<td><%=	stock.stock_name %></td>
					<td><%=	stock.stock_symbol %></td>
					<td><%=	stock.stock_price %></td>
					<td><%= position.position_amount %></td>
					<td><%= position.value %></td>
					<td>
						<div class="center">
							<%= link_to update_position_path(:position_id => position.id), :remote => true, class: 'btn btn-primary' do %>
								<span>Modify Position</span>
							<% end %>
						</div>
					</td>
				</tr>
			<% end	%>
		</tbody>
	</table>
</div>