<div id="userProfile">
  	<div style="display:flex;">
	<div class="user-profile-avatar"></div>
	<div class="user-profile-info">
		<h3><%= @user.user_name %></h3>
		<h4><%= @user.email %></h4>
		<h4><%= link_to 'Portfolio', portfolio_path(:id => @user.user_name) %> </h4>
	</div>
  	</div>
  	<div style="width:100%; display: flex; margin-bottom: 20px;">
	  	<div class="user-profile-actions">
	  		<a href="#" class="icon user-profile-actions-btns">
	            <span class="glyphicon glyphicon glyphicon-plus"></span>
	        </a>
	  		<a href="#" class="icon user-profile-actions-btns" style="float: right;">
	            <span class="glyphicon glyphicon glyphicon-comment"></span>
	        </a>
	  	</div>
	  	<div class="user-profile-follow">
	  		<div>Followers: 1264</div>
	  		<div>Following: 145</div>
	  	</div>
	 </div>	
 	
    <!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item active">
	    	<a class="nav-link" data-toggle="tab" href="#posts" role="tab">Posts</a>
	  	</li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#activity" role="tab">Activity</a>
	  </li>
	  <% if @is_admin then %>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Edit Profile & Settings</a>
	  </li>
	  <% end %>
	</ul>
</div>

<!-- TODO: Add placeholders for:
	Avatar
	Username
	Email
	Website
	Follow
	Direct Message
	Blog Posts
	Portfolio Performance chart
	Timeline -->
<div class="tab-content">
	<div class="tab-pane active" id="posts" role="tabpanel">
		
		<% if @is_current_user then %>
			<div style="width:100%;">
				<%= text_field_tag 'title', nil, placeholder: 'Title', class: "form-blog form-blog-title" %>
			</div>
			<div style="width:100%;">
				<%= text_field_tag 'post', nil, placeholder: 'Tell your story:', class: "form-blog form-blog-post" %>
			</div>
	  	<% end %>

	  	<div id="postHistory">
	  	</div>

  		

  	</div>
	<div class="tab-pane" id="activity" role="tabpanel">
		<div style="width:75%; margin:auto; margin-top:20px;">
			<table align="center" class="table table-striped table-bordered table-headers-bold center">
            <thead>
              <tr>
                <td>Transaction</td>
                <td>Amount</td>
                <td>Price</td>
                <td>Date</td>
                <td>Current Price</td>
                <td>Change (%)</td>
              </tr>
            </thead>
            <tbody class="center">
              <% @trades.each do |trade| %>
                <tr>
                  <td><%= trade.type %></td>
                  <td><%= trade.trade_amount %></td>
                  <td><%= number_to_currency(trade.trade_price) %></td>
                  <td><%= trade.trade_datetime %></td>
                  <td><%= number_to_currency(trade.current_price) %></td>
                  <td><%= trade.change %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
		</div>
		
	</div>
	<% if @is_admin then %>
	  <div class="tab-pane" id="settings" role="tabpanel">
	  	<%= form_for @user, url: manage_user_path, remote: true do |f| %>
          <%=  f.hidden_field :id %>
          <div style="width:50%; margin:auto;" class="center">
          	<table align="center" class="table table-bordered table-edit-user">
	            <tbody class="center">
	              <% @header_attribs.zip(@all_attribs).each do |header, attribute| %>
	                <tr>
	                  <td><%= header %></td> 
	                  <td>
	                    <%= f.text_field attribute, class: "form-control" %>
	                  </td>
	                </tr>
	              <% end %>
	            </tbody>
	          </table>
          <%= f.submit "Update", :id => :id, class: "btn btn-primary user-update-btn" %> 
          </div>
          
        <% end %>
	  </div>
	<% end %>
</div>
















