<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Nvestr</title>



	<!-- Can't just include all javascripts...I can include all stylesheets tho -->
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Add application-specific javascript here. jquery and such.  -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Again, no idea what this does.  -->
	<%= csrf_meta_tags %>

  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

  <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">



  </head>
  <body>


    <%= yield :javascript %>

    <div>
      <% if user_is_logged_in? then %>
        <% if is_admin then %>
          <%= render :partial => "users/adminnavbar" %>
        <% else %>
          <%= render :partial => "users/usernavbar" %>
        <% end %>
      <% else %>
            <%= render :partial => "dangerous/dangerousnavbar" %> 
      <% end %>
    </div>
      <div class="row">
        <% if user_is_logged_in? then %>
        <div class="col-sm-2">
          <%= yield :sidebar %>
        </div>
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <% else %>

          <div class="col-sm-12">
            <%= yield :header %>
          </div>

          <div class="col-sm-2"></div>
          <div class="col-sm-8 site-content-margin">
            <!-- Site content within 8 columns.  -->
              <%= yield %>
          </div>
          <div class="col-sm-2"></div>

      <% end %>


      
    </div>
    <script type="text/javascript">
      
      $(document).ready(function() {
          $('.table-datatable').DataTable();
      } );
    </script>
  </body>
  <!-- Modal to be used by all apps, added AFTER body -->
  <div id="modal-window" class="modal fade"></div>
</html>
