<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nvestr</title> 

	<!-- Can't just include all javascripts...I can include all stylesheets tho -->
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Add application-specific javascript here. jquery and such.  -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Again, no idea what this does.  -->
	<%= csrf_meta_tags %> 

   
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- TODO: Dangerous Nav Bar: Login Link -->
    <!-- Remember to change navbar based on session status -->

    <% if user_is_logged_in? then %>
      <% if is_admin then %>
        <%= render :partial => "users/adminnavbar" %>
      <% else %>
        <%= render :partial => "users/usernavbar" %>
      <% end %>
    <% else %>
     <%= render :partial => "dangerous/dangerousnavbar" %>
    
    <% end %>

    <%= yield %>

  </body>
  <!-- Modal to be used by all apps, added AFTER body -->
  <div id="modal-window" class="modal fade"></div>
</html>
